* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0px;
  height:0px;
}
body {
  display:grid;
  gap: 25px;
  grid-template-columns: 1fr 3fr;
  margin: 25px 25px 0px 25px;
  height: calc(100vh - 50px);
}
#navbar {
  border: 3px solid black;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  display: inline-flex;
  align-items: center;
}
#navbottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50vh;
    font-size: 2em;
}
#navtop {
    height: auto;
}
.nav {
  font-family: "Atkinson Hyperlegible";
  margin: 10px;
  text-decoration:none;
  color: #000000;
  font-weight: 700;
}
.nav:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: hsla(360, 0%, 0%, 0.5);
}
.nav:visited {
  text-decoration: none;
}
.nav-active-page {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: hsla(360, 0%, 0%, 1);
}
.nav-active-page:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: hsla(360, 0%, 0%, 1);
}
.content {
    border: 0x solid #000000;
    display: grid;
    gap:25px;
    grid-template-columns: 1fr 1fr;
    overflow: scroll
}
.speech-balloon {
    margin:0px;
    padding: 2vmax;
    border: 3px solid black;
    border-radius: 25px;
    position: relative;
    background-color: white;
    font-family: "Atkinson Hyperlegible";
    font-size: 1.75vmax;
}
.tail:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
  border-bottom: 20px solid transparent;
  left: 25%;
  bottom: -40px
}
.tail:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
  left: calc(25% + 3px);
  bottom: -28px
}
.speech-balloon-logo {
    margin:20px;
    padding: 25px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    background-color: white
}
.speech-balloon-logo:hover {
    background-color: hsla(58, 100%, 80%, 1)
}
.tail-logo:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 14px solid black;
  border-right: 14px solid transparent;
  border-top: 28px solid black;
  border-bottom: 28px solid transparent;
  left: 50%;
  bottom: -57px;
}
.tail-logo:hover:after {
  border-left-color: hsla(58, 100%, 80%, 1);
  border-top-color: hsla(58, 100%, 80%, 1);
}
.tail-logo:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 14px solid white;
  border-right: 14px solid transparent;
  border-top: 28px solid white;
  border-bottom: 28px solid transparent;
  left: calc(50% + 3px);
  bottom: -44px;
}
.speech-balloon-logo-active-page {
    background-color: hsla(58, 100%, 65%, 1)
}
.speech-balloon-logo-active-page:hover {
    background-color: hsla(58, 100%, 65%, 1)
}
.tail-logo-active-page:after {
  border-left-color: hsla(58, 100%, 65%, 1);
  border-top-color: hsla(58, 100%, 65%, 1);
}
.tail-logo-active-page:hover:after {
  border-left-color: hsla(58, 100%, 65%, 1);
  border-top-color: hsla(58, 100%, 65%, 1);
}
.gallery {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    height: 100%;
    gap: 25px;
}
.content-gallery {
    width: 100%;
    object-fit: cover;
    border: 3px solid black;
}
.aspect-ratio {
      aspect-ratio: 3 / 4;
}
.content-page {
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
}
.page {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 50px;
}
.reader {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.reader-item {
    height: calc(100vh - 50px);
}
.direction-reverse {
    flex-direction: row-reverse;
}
#logo {
  width: 200px;
  height: auto;
  padding: 10px;
}
#home-portrait {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    border: 3px solid black;
}
@media (max-aspect-ratio: 3/2) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-aspect-ratio: 10/9) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
@media (max-height: 600px) and (orientation: landscape) {
    #navbottom {
        height: 100%;
        font-size: 5vh;
        justify-content:space-evenly;
    }
    .nav {
        padding: 1px;
    }
    .speech-balloon {
        font-size: 2.5vh;
    }
    #logo {
        width: 100px;
        height: auto;
        padding: 5px;
    }
    .balloon-logo-mobile {
        margin: 10px;
        padding: 12.5px;
    }
    .tail-logo:before {
        border-left-width: 7px;
        border-right-width: 7px;
        border-top-width: 14px;
        border-bottom-width: 14px;
        left: 50%;
        bottom: -30px;
    }
    .tail-logo:after {
        border-left-width: 7px;
        border-right-width: 7px;
        border-top-width: 14px;
        border-bottom-width: 14px;
        left: calc(50% + 3px);
        bottom: -17px;
    }
}
@media (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
        gap: 40px;
        width: calc(100vw - 50px)
    }
    #navbar {
        flex-direction: row;
        height: 100%
    }
    .nav {
        margin:4px;
    }
    .nav:hover {
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
    }
    .nav-active-page{
        margin:4px;
        text-underline-offset: 5px;
    }
    #navbottom {
        display: flex;
        flex-direction: row;
        height: auto;
        font-size: 1.5em;
        padding: 0px;
        margin:2px;
    }
    #logo {
        width: 100px;
        height: auto;
        padding: 5px;
    }
    .balloon-logo-mobile {
        margin: -10px;
        padding: 12.5px;
    }
    .tail-logo:before {
        border-left-width: 7px;
        border-right-width: 7px;
        border-top-width: 14px;
        border-bottom-width: 14px;
        left: 50%;
        bottom: -30px;
    }
    .tail-logo:after {
        border-left-width: 7px;
        border-right-width: 7px;
        border-top-width: 14px;
        border-bottom-width: 14px;
        left: calc(50% + 3px);
        bottom: -17px;
    }
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #home-portrait {
        height: 100%;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .reader {
    display: grid;
}
.reader-item {
    height: auto;
}

@media (max-width: 700px) and (orientation: portrait) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
        gap: 30px;
        width: calc(100vw - 50px)
    }
    #navbar {
        flex-direction: row;
        height: 100%
    }
    .nav {
        margin:2px;
    }
    .nav:hover {
        text-decoration-thickness: 3px;
        text-underline-offset: 5px;
    }
    .nav-active-page{
        margin:2px;
        text-underline-offset: 5px;
    }
    #navbottom {
        display: flex;
        flex-direction: row;
        height: auto;
        font-size: .9em;
        padding: 0px;
        margin:2px;
    }
    #logo {
        width: 75px;
        height: auto;
        padding: 3.75px;
    }
    .balloon-logo-mobile {
        margin: -10px;
        padding: 9.375px
    }
    .tail-logo:before {
        border-left-width: 5.25px;
        border-right-width: 5.25px;
        border-top-width: 10.5px;
        border-bottom-width: 10.5px;
        left: 50%;
        bottom: -21px;
    }
    .tail-logo:after {
        border-left-width: 5.25px;
        border-right-width: 5.25px;
        border-top-width: 10.5px;
        border-bottom-width: 10px;
        left: calc(50% + 3px);
        bottom: -8px;
    }
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #home-portrait {
        height: 100%;
    }
}
@media (max-width: 350px) {
    #navbottom {
        font-size: .75em;
    }
}
/* fonts */

/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt43C1KxNDXMspQ1lPyU89-1h6ONRlW45G056IkUwCgblWmLWQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt43C1KxNDXMspQ1lPyU89-1h6ONRlW45G056IqUwCgblWm.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt93C1KxNDXMspQ1lPyU89-1h6ONRlW45G056qRdhWDTFiMF225Z2k.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt93C1KxNDXMspQ1lPyU89-1h6ONRlW45G056qRdhWNTFiMF225.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G07JIoWQeCbGWn.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIoWQeCbA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9eiWPRl-uFV24.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWPRl-uFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
